body {
  padding-top: 50px;
  font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  font-size: 104%;
}

.header_bar{
  background-color: #1468a2;
  background-image: -webkit-linear-gradient(top, #1e93e4,#1676b9 3%,#11598c);
  background-image: -moz-linear-gradient(top, #1e93e4,#1676b9 3%,#11598c);
  background-image: -o-linear-gradient(top, #1e93e4,#1676b9 3%,#11598c);
  background-image: linear-gradient(top, #1e93e4,#1676b9 3%,#11598c);
  border-color: #000;
}

.bar-title{
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
  font-size: 2.1em;
  font-weight: bold;
  padding: 8px 8px;
}

.body-app{
	background-color: #eee;
}

.title-form{
	text-shadow: #fff 0 1px 1px;
	color: #333;
	font-weight: bold;
}

.button-app{
    background-image: -webkit-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    background-image: -moz-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    background-image: -o-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    background-image: linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    padding: .4em;
  	min-height: 2.5em;
  	border-width: 0;
  	-webkit-appearance: none;
  	border: 1px solid #999;
  	border-top-color: #a6a6a6;
  	background-color: #ccc;
  	color: #000;
  	border-radius: 0.4em;
  	min-height: 1.8em;
  	padding: .3em .6em;
  	font-size: 1.6em;
  	width: 100%;	
  	font-weight: bold;
}

.input-app{
	border: none;
}

.input-upper{
	border-bottom: 1px solid #ddd;
}